# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Alfred,ZA,-33.5906,26.8910,62.19,86,32,4.00,scattered clouds
1,1,Busselton,AU,-33.6500,115.3333,70.05,39,100,9.13,overcast clouds
2,2,Naze,JP,28.3667,129.4833,67.12,61,9,11.81,clear sky
3,3,Yangambi,CD,0.8102,24.4336,69.48,99,97,1.79,light rain
4,4,Cayenne,GF,4.9333,-52.3333,78.84,89,0,3.44,clear sky
5,5,Fairbanks,US,64.8378,-147.7164,15.60,81,40,4.61,scattered clouds
6,6,Romny,UA,50.7510,33.4747,34.79,95,6,7.20,clear sky
7,7,Indramayu,ID,-6.3264,108.3200,81.93,73,100,3.33,light rain
8,8,Kapaa,US,22.0752,-159.3190,80.92,62,20,13.80,few clouds
9,9,Sabang,ID,5.8933,95.3214,80.64,79,100,21.41,moderate rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [9]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']>=min_temp) & (city_data_df['Max Temp']<=max_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Alfred,ZA,-33.5906,26.8910,62.19,86,32,4.00,scattered clouds
1,1,Busselton,AU,-33.6500,115.3333,70.05,39,100,9.13,overcast clouds
2,2,Naze,JP,28.3667,129.4833,67.12,61,9,11.81,clear sky
3,3,Yangambi,CD,0.8102,24.4336,69.48,99,97,1.79,light rain
4,4,Cayenne,GF,4.9333,-52.3333,78.84,89,0,3.44,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [11]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Alfred,ZA,-33.5906,26.8910,62.19,86,32,4.00,scattered clouds
1,1,Busselton,AU,-33.6500,115.3333,70.05,39,100,9.13,overcast clouds
2,2,Naze,JP,28.3667,129.4833,67.12,61,9,11.81,clear sky
3,3,Yangambi,CD,0.8102,24.4336,69.48,99,97,1.79,light rain
4,4,Cayenne,GF,4.9333,-52.3333,78.84,89,0,3.44,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [20]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

          City Country  Max Temp Weather Description      Lat       Lng
0  Port Alfred      ZA     62.19    scattered clouds -33.5906   26.8910
1    Busselton      AU     70.05     overcast clouds -33.6500  115.3333
2         Naze      JP     67.12           clear sky  28.3667  129.4833
3     Yangambi      CD     69.48          light rain   0.8102   24.4336
4      Cayenne      GF     78.84           clear sky   4.9333  -52.3333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [21]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=''

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,62.19,scattered clouds,-33.5906,26.8910,
1,Busselton,AU,70.05,overcast clouds,-33.6500,115.3333,
2,Naze,JP,67.12,clear sky,28.3667,129.4833,
3,Yangambi,CD,69.48,light rain,0.8102,24.4336,
4,Cayenne,GF,78.84,clear sky,4.9333,-52.3333,

In [22]:
hotel_df.count()

City                   372
Country                372
Max Temp               372
Weather Description    372
Lat                    372
Lng                    372
Hotel Name             372
dtype: int64

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [23]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [24]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,62.19,scattered clouds,-33.5906,26.8910,The Halyards Hotel & Spa
1,Busselton,AU,70.05,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,Naze,JP,67.12,clear sky,28.3667,129.4833,Shishime Hotel
3,Yangambi,CD,69.48,light rain,0.8102,24.4336,
4,Cayenne,GF,78.84,clear sky,4.9333,-52.3333,Hôtel Le Dronmi

In [26]:
hotel_df.count()

City                   372
Country                372
Max Temp               372
Weather Description    372
Lat                    372
Lng                    372
Hotel Name             372
dtype: int64

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [27]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,62.19,scattered clouds,-33.5906,26.8910,The Halyards Hotel & Spa
1,Busselton,AU,70.05,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,Naze,JP,67.12,clear sky,28.3667,129.4833,Shishime Hotel
3,Yangambi,CD,69.48,light rain,0.8102,24.4336,
4,Cayenne,GF,78.84,clear sky,4.9333,-52.3333,Hôtel Le Dronmi

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [34]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [30]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [31]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel & Spa</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 62.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shishime Hotel</dd>\n<dt>City</dt><dd>Naze</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Yangambi</dd>\n<dt>Country</dt><dd>CD</dd>\n<dt>Current Weather</dt><dd>light rain and 69.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lovers Point Inn</dd>\n<dt>City</dt><dd>Pacific Grove</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 65.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fantasy Springs Resort Casino</dd>\n<dt>City</dt><dd>Coachella</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Thanda Vista B&B</dd>\n<dt>City</dt><dd>Plettenberg Bay</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 63.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 50.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>broken clouds and 66.78 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [32]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -33.5906   26.8910
1  -33.6500  115.3333
2   28.3667  129.4833
3    0.8102   24.4336
4    4.9333  -52.3333
10  36.6177 -121.9166
16  33.6803 -116.1739
19 -34.0527   23.3716
21 -53.1500  -70.9167
22  38.5167  -28.7000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [37]:

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))